pipeline/pl_getRowCount_in_a_file.json
{
	"name": "pl_getRowCount_in_a_file",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_SrcDatalake_ADW_Folder",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "2022-09-03_log.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RecordCount",
					"value": {
						"value": "@string(activity('Lookup1').output.count)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"RecordCount": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-09-03T23:24:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}