pipeline/pl_GetFileCount_in_a_Folder.json
{
	"name": "pl_GetFileCount_in_a_Folder",
	"properties": {
		"activities": [
			{
				"name": "Get list fo files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_destDatalake_Archive",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get list fo files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileCount",
					"value": {
						"value": "@string(length(activity('Get list fo files').output.childItems))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"FileCount": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-09-03T23:03:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}