pipeline/pl_PipelineProcessStats_CSV.json
{
	"name": "pl_PipelineProcessStats_CSV",
	"properties": {
		"description": "This pipeline writes stats to csv file. On daily basis, for first run it should create a new file with date.csv and next consecutive runs, it should append data.",
		"activities": [
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_SrcDatalake_ADW_Folder",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('File')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Check if file exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata1').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "New file creation",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_pipelinestats_newCSVfile",
									"type": "DataFlowReference",
									"parameters": {
										"ADFName": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"PipelineName": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"TriggerName": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"TriggerTime": {
											"value": "'@{pipeline().TriggerTime}'",
											"type": "Expression"
										},
										"FileName": {
											"value": "'@{variables('File')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"sink1": {
											"FileName": {
												"value": "@variables('File')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Append DF",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_pipelinestats_appendCSVfile",
									"type": "DataFlowReference",
									"parameters": {
										"ADFName": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"PipelineName": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"TriggerName": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"TriggerTime": {
											"value": "'@{pipeline().TriggerTime}'",
											"type": "Expression"
										},
										"FileName": {
											"value": "'@{variables('File')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"LogDEstinationFile": {
											"FileName": {
												"value": "@variables('File')",
												"type": "Expression"
											}
										},
										"sink1": {
											"FileName": {
												"value": "@variables('File')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "File",
					"value": {
						"value": "@concat(formatDateTime(utcNow(),'yyyy-MM-dd'),'_log.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"File": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-09-03T00:31:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}